<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Car_Accessory_Management_Systm.My.MySettings.ConnectionString"
            connectionString="Data Source=103.212.121.67;User ID=data_stu4;Password=Lovecoding@6750"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>